<section class="c-ehimework">
    <div class="c-ehimework__wrapper l-container--1416">
      <img src="<%=ehime.img1%>" alt="<%=ehime.title1%><%=ehime.title2%>" class="c-ehimework__img">
      <div class="c-ehimework__middle">
        <picture>
          <source media="(max-width:767px)" srcset="./assets/img/sp/ehimework/centerbook.png">
          <img src="./assets/img/ehimework/bookcenter.png" alt="<%=ehime.title1%><%=ehime.title2%>" class="c-ehimework__bookimg">
        </picture>
          <h2 class="c-ehimework__title"><%=ehime.title1%><br><%=ehime.title2%></h2>
          <a href="/" class="c-listbtn c-listbtn--white c-listbtn--pconly"><%=ehime.btn%></a>
      </div>
      <img src="<%= ehime.img2%>" alt="<%=ehime.title1%><%=ehime.title2%>" class="c-ehimework__img">
      <a href="/" class="c-listbtn c-listbtn--white c-listbtn--sponly">
        <%=ehime.btn%>
      </a>
    </div>
  </section>