<footer class="c-footer">
    <div class="c-footer__wrapper">
        <div class="c-footer__top">        
            <a href="#p-top" class="c-footer__backtotop">
                <picture>
                    <source media="(max-width:767px)" srcset="./assets/img/sp/backtotop.svg">
                    <img src="./assets/img/backtotop.svg" alt="<%=footer.coppyright%>" class="c-footer__backtotop--img">
                  </picture>
            </a>
        </div>
        <div class="c-footer__middle">
            <div class="c-footer__middlecontent l-container">
                <div class="c-footer__location">
                    <a href="/">
                        <img src="./assets/img/footerlogo.png" alt="<%=footer.coppyright%>" class="c-footer__logo">
                    </a>
                        <h2 class="c-footer__company"><%=footer.name%></h2>
                <p class="c-footer__address"><%-footer.location%></p>
                </div>
                <div class="c-footer__contact">
                    <p class="c-footer__note"><%-footer.note%></p>
                    <a href="tel:0899741411" class="c-footer__phone"><%-footer.phone%></a>
                    <p class="c-footer__time"><%-footer.time%></p>
                </div>
                <div class="c-footer__btngroup">
                    <a href="/contact.html" class="c-footer__btn"><%=footer.btn1%></a>
                    <a href="/" class="c-footer__btn"><%=footer.btn2%></a>
                </div>
            </div>
        </div>
        <div class="c-footer__coppyright"><%=footer.coppyright%></div>
    </div>
    </footer>