<section class="c-news">
    <div class="c-news__wrapper l-container--1920">
      <div class="c-news__heading">
        <p class="c-news__subtitle"><%=news.subtitle%></p>
        <h2 class="c-news__title"><%=news.title%></h2>
      </div>
      <ul class="c-news__table l-container--780">
        <% if (typeof news != 'undefined') { %>
             <% news.items.forEach(item=> { %>
                <li class="c-news__tablerow">
                  <a href="#" class="c-news__link">
                    <span class="c-news__tablehead"><%=item.date%></span>
                    <span class="c-news__tabledescription"><%-item.title%></span>
                  </a>
                </li>
            <% }) %>
        <% } %>
      </ul>
      <a href="/" class="c-listbtn c-listbtn--2"><%=news.btn%></a>
    </div>
  </section>